html, body {
    height: 100%;
}

body {
    background-color: #ccc;
    color: #1E1E1E;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

div.page {
    background-color: #fff;
    min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -30px;
}

header {
    background-color: #000;
}

h1 {
    color: #0a0;
    margin: 0px;
    padding: 10px 30px;
}

h2, h3 {
    margin: 0px;
    padding: 0px;
}

div.content {
    padding: 20px;
}

a {
    color: #00a;
    text-decoration: none;
}

a:hover {
    color: #0a0;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.center {
    width: 900px;
    margin: 0px auto;
}

/* --- MENU --- */

div.menu-panel, menu {
    background-color: #000000;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #212121),
        color-stop(1, #000000)
        );
    background-image: -o-linear-gradient(bottom, #212121 0%, #000000 100%);
    background-image: -moz-linear-gradient(bottom, #212121 0%, #000000 100%);
    background-image: -webkit-linear-gradient(bottom, #212121 0%, #000000 100%);
    background-image: -ms-linear-gradient(bottom, #212121 0%, #000000 100%);
    background-image: linear-gradient(to bottom, #212121 0%, #000000 100%);
    height: 40px;
    line-height: 40px;
}

menu {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

menu li {
    float: left;
}

menu li a {
    color: #fff;
    display: block;
    padding: 0px 20px;
    text-decoration: none;
}

menu li a:hover {
    background-color: #212121;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #000000),
        color-stop(1, #212121)
        );
    background-image: -o-linear-gradient(bottom, #000000 0%, #212121 100%);
    background-image: -moz-linear-gradient(bottom, #000000 0%, #212121 100%);
    background-image: -webkit-linear-gradient(bottom, #000000 0%, #212121 100%);
    background-image: -ms-linear-gradient(bottom, #000000 0%, #212121 100%);
    background-image: linear-gradient(to bottom, #000000 0%, #212121 100%);
}

.user-panel {
    float: right;
}

/* --- LIST --- */

div.messages {
    background-color: #aaf;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 20px;
    padding: 5px;
}

table.list {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 20px 0px;
    width: 100%;
}

table.list th {
    border: 1px solid #ccc;
}

table.list td {
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-align: center;
}

table.list td.name {
    text-align: left;
}

table form {
    display: block;
    float: left;
}

a.edit-button {
    background: #fff url("images/pencil.png");
    display: block;
    font-size: 0px;
    height: 16px;
    width: 16px;
}

input.delete-button {
    background: #fff url("images/cross.png");
    border: 0px;
    cursor: pointer;
    font-size: 0px;
    height: 16px;
    width: 16px;
}

/* --- INFO --- */

table.info {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 20px 0px;
    width: 200px;
}

table.info th {
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-align: right;
    width: 50%;
}

table.info td {
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-align: left;
}

/* --- FORM --- */

div.errors {
    background-color: #faa;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
}

fieldset {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px auto;
    width: 400px;
}

form table {
    width: 100%;
}

form th, form td {
    padding: 5px 10px;
    width: 50%;
}

input {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    padding-left: 5px;
}

/* --- FOOTER --- */

footer, .push {
    height: 30px;
    line-height: 30px;
}

footer {
    background-color: #000000;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #212121),
        color-stop(1, #000000)
        );
    background-image: -o-linear-gradient(bottom, #212121 0%, #000000 100%);
    background-image: -moz-linear-gradient(bottom, #212121 0%, #000000 100%);
    background-image: -webkit-linear-gradient(bottom, #212121 0%, #000000 100%);
    background-image: -ms-linear-gradient(bottom, #212121 0%, #000000 100%);
    background-image: linear-gradient(to bottom, #212121 0%, #000000 100%);
    color: #fff;
    /*padding: 5px 15px;*/
}

footer div {
    text-align: center;
}

footer div a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
}
